<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manipal_hackathon">
    <uses-feature android:name="android.hardware.type.watch" />
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
    <meta-data
   android:name="com.google.android.wearable.standalone"
   android:value="true" />
    </application>
</manifest>
